sub-index-panel {
  .header {
    padding: 5px;
    padding-top: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 50%;
  }

  .col {
    overflow: hidden;
  }

  .info-button {
    button {
      color: black;
    }
  }
  .entries {
    background-color: color($colors, panel-background);
    border-radius: 2.5em;
    color: black;
  }
}
