update-hint-popover {
    .content {
      padding: 10px;
      text-align: center;
    }
    .dont-show {
      font-size: 0.8em !important;
    }
    .more-info {
      text-align: center;
      color: color($colors, primary);
    }
  }