<div>
  info comes here
  <!-- <div>{{'annual-mean-panel.information-popup.text' | translate}}
    <ul>
      <li>{{'annual-mean-panel.information-popup.no2' | translate}}</li>
      <li>{{'annual-mean-panel.information-popup.o3' | translate}}</li>
      <li>{{'annual-mean-panel.information-popup.pm10' | translate}}</li>
      <li>{{'annual-mean-panel.information-popup.pm25' | translate}}</li>
    </ul>
  </div>
  <div class="more-info">
    <div color="primary" small (click)="showMoreInfo()">{{'annual-mean-panel.information-popup.moreInfo' | translate}}</div>
  </div> -->
</div>
