belaqi-wheel {


  .wheel-wrapper {
    width: 100%;
    height: 15em;
    position: relative;

    .info-button {
      display: inline;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      button {
        color: black;
      }
    }

    .notification-button {
      z-index: 1;
    }

    .wheel {
      background-color: color($colors, panel-background);
      border-radius: 1em;
      position: relative;
      width: 100%;
      height: 14em;
      margin-left: auto;
      margin-right: auto;
      z-index: -1;
    }
  }

  .no-index {
    padding: 50px 10px;
    white-space: normal;
  }

  .chartjs-render-monitor {
    position: relative;
    top: -45px;
  }
}
